@charset "utf-8";
@import url('reset.css');
@import url('common.css');
/* 웹폰트 */
@import url('../font/apercu-condensed-pro/stylesheet.css');
@import url('../font/Pretendard/stylesheet.css');

body {
    /* position: relative; 이거 뭐때문에 썼더라..*/
    max-width: 4000px;
    margin: 0 auto;
}

button {
    border: 0;
    background-color: transparent;
}

.mobile {
    display: none;
}

.header {
    width: 100%;
    height: 100px;
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    height: 48px;
    /* w나 h값 1개만 준다 */
}

.header .inner .logo a {
    height: 100%;
    display: block;
    /* 이미지보다 a크기가 작고 아래로 내려와있어서 맞춰주는 작업 */
}

.header .inner .logo a img {
    height: 100%;
    /* 로고,아이콘에는 object-fit사용x, 가로or세로 크기만 부여 */
}

.header .inner .nav_pc {
    display: flex;
    align-items: center;
    font-family: 'Apercu-Condensed-Pro';
    font-size: 20px;
    letter-spacing: 7%;
    font-weight: 500;

}

.header .inner .nav_pc .gnb {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.header .inner .nav_pc .gnb li {
    white-space: nowrap;
    display: block;
    line-height: 100px;
    padding: 0 24px;
}

.header .inner .nav_pc .gnb li:hover,
.header .inner .nav_pc .lang_wrap li:hover {
    color: #6DB33E;
    font-weight: 600;
}

.header .inner .nav_pc .gnb li:nth-child(5) {
    width: 133px;
    height: 40px;
    line-height: 100px;
    border-radius: 50px;
    background-color: #6DB33E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px;
}

.header .inner .nav_pc .gnb li:nth-child(5)::before {
    content: "Order Now";
    cursor:pointer;
}

.header .inner .nav_pc .gnb li:nth-child(5):hover {
    background-color: #FFFFFF;
    border: 2px solid #6db33e;
    color: #6DB33E;
    text-align: center;
    font-family: 'Pretendard';
}

/* hover했을때 텍스트 */
.header .inner .nav_pc .gnb li:nth-child(5):hover::before {
    content: "주문하기";
}


.header .inner .nav_pc .gnb li a {
    display: block;
    line-height: 100px;
    /* 커서영역을 넓히기위해서 라인하이트를 줌 */
}

.header .inner .nav_pc .lang_wrap {
    display: flex;
    gap: 22px;
}

.header .inner .nav_pc .lang_wrap li:nth-child(1) {
/*     font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #121212; */
}

.header .inner .nav_pc .lang_wrap li:nth-child(1):hover {}

.header .inner .nav_pc .lang_wrap li:nth-child(2) {
/*     font-weight: 300;
    color: #8a8a8a; */
}

.header .inner .nav_pc .lang_wrap li:nth-child(2):hover {
/*     font-weight: 600;
    color: #121212; */
}

.header .inner .nav_pc .lang_wrap li:nth-child(2):hover li:nth-child(1) {
/*     font-weight: 300;
    color: #8a8a8a; */
}

.header .inner .nav_pc .lang_wrap li a {
    display: block;
    line-height: 100px;
    /* 커서영역을 넓히기위해서 라인하이트를 줌 */
}

.header .inner .nav_btn {
    width: 44px;
    cursor: pointer;
}




/* main */
.main_visual {
    /* width: 100%; */

    background-color: var(--main-color);
    margin-bottom: 200px;
    border: solid 2px #121212;
    border-left: 0;
    border-right: 0;
}

.main_visual .main_vis_wrap_01 {
    width: 100%;
    height: 522px;
    display: flex;
    border-bottom: 2px solid #121212;
    position: relative;
}

.main_visual .main_vis_wrap_01 .main_vis_text_sec_01 {
    width: 42.65%;
    /* 819/1920*100 */
    height: 100%;
    display: flex;
    align-items: center;
}

.main_visual .main_vis_wrap_01 .main_vis_text_sec_01 .text_wrap {
    max-width: 1440px;
    width: calc(100% - 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_visual .main_vis_wrap_01 .main_vis_text_sec_01 .text_wrap .title_text_wrap h2 {
    max-width: 39%;
    font-family: 'Apercu-Condensed-Pro';
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
}

.main_visual .main_vis_wrap_01 .main_vis_text_sec_01 .text_wrap .title_text_wrap p {
    max-width: 39%;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 34px;
}

.main_visual .main_vis_wrap_01 .main_vis_text_sec_01 p {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}



.main_visual .main_vis_wrap_01 .main_vis_img_sec_01 {
    width: calc(100% - 42.65%);
    height: 100%;
    background-color: #90CFEE;
    display: flex;
    overflow: hidden;
    border-left: 2px solid #121212;
}


.main_visual .main_vis_wrap_01 .main_vis_img_sec_01 video {
    height: 100%;
    display: block;
    object-fit: contain;
    transform: rotate(90deg);
    margin: 0 1px;


}

.main_visual .main_vis_wrap_02 {
    width: 100%;
    height: 236px;
    display: flex;
    position: relative;
}

.main_visual .main_vis_wrap_02 .main_vis_text_sec_02 {
    width: 42.65%;
    /* 819/1920*100 */
    height: 100%;
    display: flex;
    align-items: center;
}

.main_visual .main_vis_wrap_02 .main_vis_text_sec_02 .text_wrap {
    max-width: 1440px;
    width: calc(100% - 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_visual .main_vis_wrap_02 .main_vis_text_sec_02 .text_wrap p {
    max-width: 39%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;

}

.main_visual .main_vis_wrap_02 .main_vis_text_sec_02 .text_wrap strong {
    max-width: 39%;
    font-size: 20px;
    line-height: 30px;
}

.main_visual .main_vis_wrap_02 .main_vis_list {
    width: calc(100% - 42.65%);
    height: 100%;
    display: flex;
}

.main_visual .main_vis_wrap_02 .main_vis_list .main_vis_item {
    width: 33.33%;
    /* 367/1101*100 */
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #121212;
}

.main_visual .main_vis_wrap_02 .main_vis_list .main_vis_item img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}



.section_rec {
    margin-bottom: 200px;
}

.section_rec .inner {
    display: flex;
    flex-wrap: wrap;
}

.section_rec .inner .rec_text {
    width: 33.33%;
    /* 480/1440*100 */
    height: auto;
    border: 1px solid #121212;
    margin: 0 0 -1px 0;

}

.section_rec .inner .rec_text .text_wrap {
    padding: var(--padding-rec);
}

.section_rec .inner .rec_text .text_wrap h2 {
    font-size: var(--fontSize-rec);
    line-height: var(--lineHeight-rec);
    margin-bottom: 12px;
}

.section_rec .inner .rec_text .text_wrap p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -2.5%;
}

.section_rec .inner .item {
    width: 33.33%;
    border: 1px solid #121212;
}

.section_rec .inner .item:hover {
    background-color: rgb(80, 200, 120);
}

/* item에 hover했을때 img만 기울어짐 */
.section_rec .inner .item:hover img {
    transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-3deg) skew(0deg, 0deg);
}

.section_rec .inner .item:nth-child(1) {
    margin: 0 -1px;
}

.section_rec .inner .item:nth-child(2) {
    margin: 0 -1px -1px -1px;
}

.section_rec .inner .item:nth-child(3) {
    margin: 0 0 -1px 0;
}

.section_rec .inner .item:nth-child(5) {
    margin: 0 -1px;
}

.section_rec .inner .item a {
    width: 100%;
}

.section_rec .inner .item a .inner {
    /* background-color: blanchedalmond; */
    padding: 0 0 22px 0;
}

.section_rec .inner .item a .inner .image {
    width: 100%;
}

.section_rec .inner .item a .inner .image .badge {
    height: var(--badge-height);
    font-size: var(--badge-fontSize);
    font-weight: var(--badge-fontWeight);
    line-height: var(--badge-lineHeight);
    letter-spacing: var(--badge-letterSpacing);
    color: var(--badge-textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}

/* recommended_badge */
.section_rec .inner .item:nth-child(2) a .inner .image .badge {
    width: var(--redbadge-width);
    background-color: var(--redbadge-color);
}

.section_rec .inner .item:nth-child(3) a .inner .image .badge {
    width: var(--grnbadge-width);
    background-color: var(--grnbadge-color);
}

.section_rec .inner .item:nth-child(4) a .inner .image .badge {
    width: var(--redbadge-width);
    background-color: var(--redbadge-color);
}

.section_rec .inner .item:nth-child(5) a .inner .image .badge {
    width: var(--grnbadge-width);
    background-color: var(--grnbadge-color);
}

.section_rec .inner .item:nth-child(6) a .inner .image .badge {
    width: var(--grnbadge-width);
    background-color: var(--grnbadge-color);
}

.section_rec .inner .item a .inner .image .badge p {}

.section_rec .inner .item a .inner .image img {
    width: 100%;
    object-fit: cover;
}

.section_rec .inner .item a .inner .image img:hover {}



.section_rec .inner .item a .inner .text_wrap {
    width: 100%;
    padding: 0 30px;
    text-align: center;
}

.section_rec .inner .item a .inner .text_wrap h3 {
    font-family: 'Pretendard';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -2.5%;
    margin-bottom: 10px;
}

.section_rec .inner .item a .inner .text_wrap p {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2.5%;
    display: -webkit-box;
    /* 말줄임표 */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/* section_menu */

.section_menu {
    height: 472px;
    /* 고정높이 */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #00BC77;
    margin-bottom: 200px;
}

.section_menu .menu-01 {
    width: 2817px;
    /* 원본 전체 길이 (피그마 값) */
    height: 236px;
    display: flex;
}

.section_menu .menu-01 .menu_text {
    width: 819px;
    /* 고정 */
    height: 236px;
    /* flex-shrink: 1; */
    /* 줄어들지 않게 */
    border: 1px solid #121212;
    z-index: 9999;
    background-color: #00BC77;
}

.section_menu .menu-01 .menu_text .text_wrap {
    font-size: var(--fontSize-menu);
    line-height: var(--lineHeight-menu);
    padding: var(--padding-menu);
}

.section_menu .menu-01 .menu_text .text_wrap h2 {}

.section_menu .menu-01 .menu_text .text_wrap h2 a {}

.section_menu .menu-01 .menu_text .text_wrap h2 a p {}

.section_menu .menu-01 .item {
    width: 333px;
    /* 원본 사이즈 그대로 */
    height: 236px;
    flex-shrink: 0;
    border: 1px solid #121212;
    margin: 0 0 0 -1px;
    animation: slide1 10s linear infinite;
}

.section_menu .menu-01 .item img {
    width: 100%;
    height: 80%;
    /* 텍스트가 item 영역밖으로 벗어나므로 */
    object-fit: contain;
}

.section_menu .menu-01 .item p {
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -2.5%;
    white-space: nowrap;
    text-align: center;
}

.menu-02 {
    width: 2331px;
    /* 원본 전체 길이 (피그마 값) */
    height: 236px;
    display: flex;
    animation: slide2 4.5s linear infinite;
}

.menu-02 .item {
    width: 333px;
    /* 원본 사이즈 그대로 */
    height: 236px;
    flex-shrink: 0;
    border: 1px solid #121212;
    overflow: hidden;
    margin: -1px -1px 0 0;
}

.menu-02 .item img {
    width: 100%;
    height: 80%;
    /* 텍스트가 item 영역밖으로 벗어나므로 */
    object-fit: contain;
}

.menu-02 .item p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -2.5%;
    white-space: nowrap;
    text-align: center;
}

/* 애니메이션1  2817 - 1920 = 897px 만큼 왼쪽으로 이동 */
@keyframes slide1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-897px);
    }
}

/* 애니메이션2  2331 - 1920 = 411px 만큼 왼쪽으로 이동 */
@keyframes slide2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-411px);
    }
}

.section_store {
    display: flex;
    /* height: 480px; h값을 설정하지않고 하위값에 h:100%해야 이미지 비율이 맞게 확대축소됨*/
    padding-bottom: 200px;
}

.section_store .store_left {
    width: 42.65%;
}

.section_store .store_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #FFFFFF;
    border: 0 0 1px 0;
}

.section_store .store_right {
    width: 57.34%;
    background-color: #121212;
}

.section_store .store_right .inner {
    width: 70%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(30%);


}

.section_store .store_right .inner .text_wrap {
    width: 100%;
    font-size: var(--fontSize-rec);
    line-height: var(--lineHeight-rec);
    color: #FFFFFF;
}

.section_store .store_right .inner .text_wrap h2 {}

.section_store .store_right .inner .text_wrap p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -2.5%;
}

.section_store .store_right .inner .search_box {
    width: 100%;
    margin: 0 auto;
    padding: 10px 32px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    border-radius: 50px;
}

.section_store .store_right .inner .search_box input[type="text"] {
    width: 100%;
    border: 0;
    background-color: inherit;
    font-size: 18px;
    font-weight: 400;
}

.section_store .store_right .inner .search_box input:focus {
    outline: none;
    border: 0;
}

.section_store .store_right .inner .search_box img a {
    width: 100%;
}

.section_store .store_right .inner .search_box img {
    width: 100%;
}


/* section_event */

.section_event_pc {
    width: 100%;
    background-color: var(--main-color);
    margin-bottom: 200px;
    border: solid 1px #121212;
    border-left: 0;
    border-right: 0;
}

.section_event_pc .gird_wrap01 {
    width: 100%;
    height: 198px;
    display: flex;
    border-bottom: 1px solid #121212;
}

.section_event_pc .gird_wrap01 .text_sec {
    width: 42.65%;
    /* 819/1920*100 */
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #121212;
}

.section_event_pc .gird_wrap01 .text_sec .text_wrap {
    margin: 0 auto;
}

.section_event_pc .gird_wrap01 .text_sec .text_wrap h2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 78px;
}

.section_event_pc .gird_wrap01 .text_sec .text_wrap p {}

.section_event_pc .gird_wrap01 .gird {}

.section_event_pc .gird_wrap02 {
    /* height: 660px; 이미지 비율을 위해 h값 지정x */
    border-bottom: 1px solid #121212;
}

.section_event_pc .gird_wrap02 .list {
    height: 100%;
    display: flex;
}

.section_event_pc .gird_wrap02 .list .item {
    width: 33.33%;
    height: 100%;
    border: 1px solid #121212;
    border-top: 0;
}

.section_event_pc .gird_wrap02 .list .item .image {
    width: 100%;
}

.section_event_pc .gird_wrap02 .list .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* 이미지아래 틈이 있어서 */
}

.section_event_pc .gird_wrap02 .list .item .text {
    /* height: 326px; */
    padding: 20px 30px 60px 30px;
    background-color: #FDFDFD;
}

.section_event_pc .gird_wrap02 .list .item .text .inner {}

.section_event_pc .gird_wrap02 .list .item .text .inner .text_wrap {
    margin-bottom: 50px;
}

.section_event_pc .gird_wrap02 .list .item .text .inner .text_wrap .sort {
    font-family: 'Apercu-Condensed-Pro';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--main-color);
    margin-bottom: 14px;
}

.section_event_pc .gird_wrap02 .list .item .text .inner .text_wrap .sort strong {}

.section_event_pc .gird_wrap02 .list .item .text .inner .text_wrap .title_wrap {
    margin-bottom: 14px;
    -webkit-box-orient: vertical;
}

.section_event_pc .gird_wrap02 .list .item .text .inner .text_wrap .title_wrap h2 {
    font-family: 'Pretendard';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -2.5%;
    margin-bottom: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.section_event_pc .gird_wrap02 .list .item .text .inner .text_wrap .title_wrap p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2.5%;
    color: #555555;
    overflow: hidden;
    /* 2줄까지 말줄임표시 */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.section_event_pc .gird_wrap02 .list .item .text .inner .date_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_event_pc .gird_wrap02 .list .item .text .inner .date_wrap p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2.5%;
    color: #555555;
}

.section_event_pc .gird_wrap02 .list .item .text .inner .date_wrap .button {
    /* width: 30%; 버튼같은 작은 컨텐츠는 px로 지정할것 %(x) */
    width: 126px;
    height: 38px;

    background-color: #6DB33E;
    border-radius: 50px;
    color: #FDFDFD;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.section_event_pc .gird_wrap02 .list .item .text .inner .date_wrap .button a {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
}

.section_event_pc .gird_wrap03 {
    width: 100%;
    height: 150px;
}



/* section_insta */
.section_insta {
    margin-bottom: 200px;
}

.section_insta .inner {
    display: flex;
    flex-wrap: wrap;
}

.section_insta .inner .insta_text {
    width: 25%;
    border: 1px solid #121212;
    padding: 98px 26px;
    font-size: var(--fontSize-insta);
    line-height: var(--lineHeight-insta);
}

.section_insta .inner .insta_text .text_wrap {}

.section_insta .inner .insta_text .text_wrap h2 {}

.section_insta .inner .insta_text .text_wrap p {}

.section_insta .inner .image {
    width: 25%;
    border: 1px solid #121212;
    margin: 0 0 0 -1px;
}

.section_insta .inner .image:nth-child(5) {
    margin: -1px 0 0 0px;
}

.section_insta .inner .image:nth-child(6) {
    margin: -1px 0px 0 -1px;
}

.section_insta .inner .image:nth-child(7) {
    margin: -1px -1px 0 -1px;
}

.section_insta .inner .image:nth-child(8) {
    margin: -1px 0 0 0px;
}

.section_insta .inner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* footer */
.footer {
    width: 100%;
    background-color: var(--main-color);
}

.footer .inner {
    padding: 30px 0 50px 0;
}

.footer .inner .footer_01 {
    width: 100%;
    height: 276px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.footer .inner .footer_01 .nav_wrap {
    width: 45.55%;
    /* 656/1440*100 */
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .inner .footer_01 .nav_wrap .nav_01 {
    display: flex;
    /* gap을 주기위해 block태그-> dispaly:flex */
    flex-direction: column;
    gap: 12px;
}

.footer .inner .footer_01 .nav_wrap .nav_01 li {}

.footer .inner .footer_01 .nav_wrap .nav_01 li a {}

.footer .inner .footer_01 .nav_wrap .nav_02 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .inner .footer_01 .nav_wrap .nav_02 li {}

.footer .inner .footer_01 .nav_wrap .nav_02 li a {}

.footer .inner .footer_01 .right_wrap {
    width: 23.61%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .inner .footer_01 .right_wrap .download_wrap {
    width: 100%;
}

.footer .inner .footer_01 .right_wrap .download_wrap p {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -2.5%;
    color: rgb(18, 18, 18, 0.8);
    margin-bottom: 12px;
}

.footer .inner .footer_01 .right_wrap .download_wrap .icon_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .inner .footer_01 .right_wrap .download_wrap .icon_wrap a {
    display: block;
    width: 47.05%;
}

.footer .inner .footer_01 .right_wrap .download_wrap .icon_wrap a img {
    width: 100%;
}

.footer .inner .footer_01 .right_wrap .sns {
    width: 82.94%;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.footer .inner .footer_01 .right_wrap .sns li {}

.footer .inner .footer_01 .right_wrap .sns li a {
    width: 100%;
}

.footer .inner .footer_01 .right_wrap .sns li a img {
    width: 100%;
}

/* 가상요소 선택자 밑줄 */
.footer .inner .line {}

.footer .inner .line::before {
    content: '';
    /* before와 after는 인라인태그로 취급되기때문에,문자를 쓰지않기때문에 따옴표 사이를 비워둔다 */
    width: 100%;
    height: 1px;
    background-color: #121212;
    display: block;
    margin-bottom: 28px;
}

.footer .inner .footer_02 {}

.footer .inner .footer_02 .info_wrap {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}

.footer .inner .footer_02 .info_wrap li {}

.footer .inner .footer_02 .info_wrap li a {}

.footer .inner .footer_02 .copyright {}

.footer .inner .footer_02 .copyright p {}



/* 화면의 크기가 1440px 이하일 때 스타일 변화 */
@media screen and (max-width: 1440px) {
    :root {
        --fontSize-rec: 32px;
        --lineHeight-rec: 48px;
        --padding-rec: 130px 24px;

        --badge-height: 38px;
        --badge-fontSize: 12px;
        --badge-lineHeight: 18px;
        /* --badge-padding: 0 4px */
        --redbadge-width: 20.25%;
        --grnbadge-width: 38.83%;
    }

    .main_visual .main_vis_wrap_01 .main_vis_text_sec_01 .text_wrap,
    .main_visual .main_vis_wrap_02 .main_vis_text_sec_02 .text_wrap {
        width: calc(100% - 60px);
        margin: 0 auto;
    }

    .section_menu .menu-01 .menu_text {
        width: 500px;
    }

}

/* 1440 */


/* 화면의 크기가 1200px 이하일 때 스타일 변화 */
@media screen and (max-width: 1264px) {

    .section_rec .inner .item a .inner .text_wrap h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .footer .inner .footer_01 .nav_wrap {
        font-size: 30px;
        line-height: 60px;
    }

    .footer .inner .footer_01 .right_wrap .download_wrap p {
        font-size: 20px;
        line-height: 30px;
    }
}

/* 1200 */



/* 화면의 크기가 1024px 이하일 때 스타일 변화 */
/* section-01 에게 있는 padding: 80px 0 */
/* .item에게 있는 width: 49%; */
/* item을 2개씩 2줄로 배치되도록 스타일 추가 -> item을 감싸고있는 list에게 wrap을 준다 */



/* 화면의 크기가 1024px 이하일 때 스타일 변화 */
/* 쉑쉑
메인비주얼: 텍스트/ 이미지 크기 줄이기 + 여백조정
추천메뉴: 제품명 텍스트 줄이기or 줄바꿈
메뉴소개: 텍스트섹션- 타이틀 줄바꿈 + 너비영역 축소
스토어: 텍스트와 서치박스 간격 줄이기 + 오른쪽영역 여백 재설정
인스타그램: 텍스트 줄이기
푸터: 푸터-01 텍스트 줄이기+간격 설정 */
@media screen and (max-width: 1024px) {

    .main_visual .main_vis_wrap_01 .main_vis_text_sec_01 .text_wrap,
    .main_visual .main_vis_wrap_02 .main_vis_text_sec_02 .text_wrap {}

    .main_visual .main_vis_wrap_01 .main_vis_text_sec_01 .text_wrap .title_text_wrap p {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 34px;
    }

    .section_menu .menu-01 .menu_text {}

    /* section_event */
    /* 자세히보기버튼 */
    .section_event .gird_wrap02 .list .item .text .inner .date_wrap {
        flex-wrap: wrap;
    }

    .section_insta .inner .insta_text .text_wrap h2 {
        font-size: 48px;
        line-height: 72px;
    }

    .footer .inner .footer_01 .nav_wrap {
        font-size: 30px;
        line-height: 60px;

    }

}

/* 1024 */






/* 화면의 크기가 900px 이하일 때 스타일 변화 */
@media screen and (max-width: 900px) {

    .header .inner .nav_pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .header {
        width: 100%;
        height: 70px;
    }

    .header .inner .logo {
        width: 100%;
        height: 38px;
    }

    .header .inner .nav_mobile {
        width: 100%;
        height: 100%;
        position: fixed;
        right: -100%;
        /* 화면크기가 900 되었을때 nav는 보이지않도록. (right:-100%로 화면밖 숨김) */
        top: 0;
        background-color: var(--main-color);
        padding: 155px 32px 150px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        /* 오른쪽 배치 */
        text-align: right;
        /* 우측정렬 */
        height: 100%;
        z-index: 999999999;
    }

    .header .inner .nav_mobile.active {
        right: 0;
        /* active실행하여 right:-100%로 숨겨놨던 네비게이션 불러오기 */
    }

    .header .inner .nav_mobile .close_btn {
        width: 44px;
        position: absolute;
        top: 17px;
        right: 34px;
        cursor: pointer;
    }

    .header .inner .nav_mobile .gnb {
        display: flex;
        /* li사이 gap을 주기위해서 부모인 gnb에 flex와 gap부여 */
        flex-direction: column;
        /* flex하면 가로정렬되므로 */
        gap: 24px;
    }

    .header .inner .nav_mobile .gnb li {
        font-size: 55px;
        font-weight: 700;
    }

    .header .inner .nav_mobile .gnb li a {
        display: block;
        /* a는 인라인태그이므로 블록 */
        padding: 6px 8px;
    }

    .header .inner .nav_mobile .lang_wrap {
        display: flex;
        gap: 22px;
        font-size: 20px;
        font-weight: 700;
    }

    .main_visual {
        display: none;
    }

    /* sec_rec */
    .section_rec {}

    .section_rec .inner {
        display: flex;
        flex-wrap: wrap;
    }

    .section_rec .inner .rec_text {
        width: 50%;
        height: auto;
        border: 1px solid #121212;
        margin: 0 0 -1px 0;
    }

    .section_menu .menu-01 .menu_text {
        width: 400px;
    }

    .section_rec .inner .item {
        width: 50%;
        border: 1px solid #121212;
    }



    /* section_Store */
    .section_store {
        display: flex;
        flex-direction: column;
    }

    .section_store .store_left {
        width: 100%;
    }

    .section_store .store_left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section_store .store_right {
        width: 100%;
        /* h값 지우기 */
    }

    .section_store .store_right .inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 100px 0;
        transform: translateY(0%);
    }

    .section_store .store_right .inner .text_wrap p {
        margin-bottom: 22px;
    }

    /* section_event */
    .section_event_pc {
        display: none;
    }

    .section_event_mobile {
        display: block;
        padding-bottom: 200px;
    }

    .section_event_mobile .list {
        width: 100%;
        /* height: 2697px; */
        border: 1px solid #121212;
    }

    .section_event_mobile .list .item {
        width: 100%;
        height: 33.3%;
    }

    .section_event_mobile .list .item:nth-child(1) {
        border-bottom: 1px;
    }

    .section_event_mobile .list .item:nth-child(3) {
        border-top: 1px;
    }

    .section_event_mobile .list .item .image {
        width: 100%;
        height: 69.35%;
    }

    .section_event_mobile .list .item .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section_event_mobile .list .item .text {
        width: 100%;
        height: 30.65%;
        padding: 16px 16px 40px 16px;
    }

    .section_event_mobile .list .item .text .inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section_event_mobile .list .item .text .inner .text_wrap {
        width: 100%;
        /* 수직 스페이스비투윈 */
    }

    .section_event_mobile .list .item .text .inner .text_wrap .sort {
        font-family: 'Apercu-Condensed-Pro';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: var(--main-color);
        margin-bottom: 14px;
    }

    .section_event_mobile .list .item .text .inner .text_wrap .title_wrap {
        margin-bottom: 14px;
        -webkit-box-orient: vertical;
    }

    .section_event_mobile .list .item .text .inner .text_wrap .title_wrap h2 {
        font-family: 'Pretendard';
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -2.5%;
        margin-bottom: 10px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .section_event_mobile .list .item .text .inner .text_wrap .title_wrap p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -2.5%;
        color: #555555;
        overflow: hidden;
        /* 2줄까지 말줄임표시 */
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .section_event_mobile .list .item .text .inner .date_wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section_event_mobile .list .item .text .inner .date_wrap p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -2.5%;
        color: #555555;
    }

    .section_event_mobile .list .item .text .inner .date_wrap .button {
        width: 126px;
        height: 38px;

        background-color: #6DB33E;
        border-radius: 50px;
        color: #FDFDFD;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .section_event_mobile .list .item .text .inner .date_wrap .button a {
        width: 126px;
        height: 100%;
        text-align: center;
        line-height: 38px;
    }

    /* sec_insta */
    .section_insta .inner .insta_text {
        width: 33.3%;
    }

    .section_insta .inner .image {
        width: 33.3%;
    }

    .section_insta .inner .image:nth-child(6) {
        display: none;
    }

    .section_insta .inner .image:nth-child(7) {
        display: none;
    }

    /* 900 */



    /* 화면의 크기가 480px 이하일 때 스타일 변화 */
    /* h2의 폰트크기 28px */
    /* h2와 list사이 간격 20px */
    /* item에 있는 이미지의 높이값 240px */
    @media screen and (max-width: 480px) {}
}

/* 480 */