@charset "utf-8";
@import url('reset.css');
@import url('common.css');
/* 웹폰트 */
@import url('../font/apercu-condensed-pro/stylesheet.css');
@import url('../font/Pretendard/stylesheet.css');


.header {
    width: 100%;
    height: 100px;
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    height: 48px;
    /* w나 h값 1개만 준다 */
}

.header .inner .logo a {
    height: 100%;
    display: block;
    /* 이미지보다 a크기가 작고 아래로 내려와있어서 맞춰주는 작업 */
}

.header .inner .logo a img {
    height: 100%;
    /* 로고,아이콘에는 object-fit사용x, 가로or세로 크기만 부여 */
}

.header .inner .nav {
    display: flex;
    align-items: center;

}

.header .inner .nav .gnb {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 60px;
    /* gap: 48px; gap대신 아래 li에서 padding으로 간격띄워줌 */
}

.header .inner .nav .gnb li {
    white-space: nowrap;
    display: block;
    line-height: 100px;
    padding: 0 24px;
}

.header .inner .nav .gnb li:hover {
    color: #6DB33E;
    font-weight: 600;
}

.header .inner .nav .gnb li:nth-child(6) {
    width: 133px;
    height: 40px;
    line-height: 100px;
    border-radius: 50px;
    background-color: #6DB33E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px;
}

.header .inner .nav .gnb li:nth-child(6)::before {
    content: "Order Now";
}

.header .inner .nav .gnb li:nth-child(6):hover {
    background-color: #FFFFFF;
    border: 1px solid #6db33e;
    color: #6DB33E;
    text-align: center;
}

/* hover했을때 텍스트 */
.header .inner .nav .gnb li:nth-child(6):hover::before {
    content: "주문하기";
}


.header .inner .nav .gnb li a {
    display: block;
    line-height: 100px;
    /* 커서영역을 넓히기위해서 라인하이트를 줌 */
}

.header .inner .nav .lang_wrap {
    display: flex;
    gap: 22px;
}

.header .inner .nav .lang_wrap li:nth-child(1) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #121212;
}

.header .inner .nav .lang_wrap li:nth-child(1):hover {}

.header .inner .nav .lang_wrap li:nth-child(2) {
    font-weight: 300;
    color: #8a8a8a;
}

.header .inner .nav .lang_wrap li:nth-child(2):hover {
    font-weight: 600;
    color: #121212;
}

.header .inner .nav .lang_wrap li:nth-child(2):hover li:nth-child(1) {
    font-weight: 300;
    color: #8a8a8a;
}

.header .inner .nav .lang_wrap li a {
    display: block;
    line-height: 100px;
    /* 커서영역을 넓히기위해서 라인하이트를 줌 */
}




/* main */
.main_visual {
    width: 100%;
    background-color: var(--main-color);
    margin-bottom: 200px;
    border: solid 1px #121212;
    border-left: 0;
    border-right: 0;
}

.main_visual .main_vis_wrap_01 {
    width: 100%;
    height: 522px;
    display: flex;
    border-bottom: 1px solid #121212;
}

.main_visual .main_vis_wrap_01 .main_vis_text_sec_01 {
    width: 42.65%;
    /* 819/1920*100 */
    height: 100%;
    display: flex;
    align-items: center;
}

.main_visual .main_vis_wrap_01 .main_vis_text_sec_01 .text_wrap {
    margin: 0 auto;
}

.main_visual .main_vis_wrap_01 .main_vis_text_sec_01 .text_wrap .title_text_wrap h2 {
    font-family: 'Apercu-Condensed-Pro';
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
}

.main_visual .main_vis_wrap_01 .main_vis_text_sec_01 .text_wrap .title_text_wrap p {
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 34px;
}

.main_visual .main_vis_wrap_01 .main_vis_text_sec_01 p {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}



.main_visual .main_vis_wrap_01 .main_vis_img_sec_01 {
    width: calc(100% - 42.65%);
    height: 100%;
}

.main_visual .main_vis_wrap_01 .main_vis_img_sec_01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .main_vis_wrap_02 {
    width: 100%;
    height: 236px;
    display: flex;
}

.main_visual .main_vis_wrap_02 .main_vis_text_sec_02 {
    width: 42.65%;
    /* 819/1920*100 */
    height: 100%;
    display: flex;
    align-items: center;

}

.main_visual .main_vis_wrap_02 .main_vis_text_sec_02 .text_wrap {
    margin: 0 auto;
}

.main_visual .main_vis_wrap_02 .main_vis_text_sec_02 .text_wrap p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
}

.main_visual .main_vis_wrap_02 .main_vis_text_sec_02 .text_wrap strong {
    font-size: 20px;
    line-height: 30px;
}

.main_visual .main_vis_wrap_02 .main_vis_list {
    width: calc(100% - 42.65%);
    height: 100%;
    display: flex;
}

.main_visual .main_vis_wrap_02 .main_vis_list .main_vis_item {
    width: 33.33%;
    /* 367/1101*100 */
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #121212;
}

.main_visual .main_vis_wrap_02 .main_vis_list .main_vis_item img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}



.section_rec {
    margin-bottom: 200px;
}

.section_rec .inner {
    display: flex;
    flex-wrap: wrap;
}

.section_rec .inner .rec_text {
    width: 33.33%;
    /* 480/1440*100 */
    border: 1px solid #121212;
    margin: 0 0 -1px 0;

}

.section_rec .inner .rec_text .text_wrap {
    padding: var(--padding-rec);
}

.section_rec .inner .rec_text .text_wrap h2 {
    font-size: var(--fontSize-rec);
    line-height: var(--lineHeight-rec);
    margin-bottom: 12px;
}

.section_rec .inner .rec_text .text_wrap p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -2.5%;
}

.section_rec .inner .item {
    width: 33.33%;
    border: 1px solid #121212;
}

.section_rec .inner .item:hover {
    background-color: rgb(80, 200, 120);
}

/* item에 hover했을때 img만 기울어짐 */
.section_rec .inner .item:hover img {
    transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-3deg) skew(0deg, 0deg);
}

.section_rec .inner .item:nth-child(1) {
    margin: 0 -1px;
}

.section_rec .inner .item:nth-child(2) {
    margin: 0 -1px -1px -1px;
}

.section_rec .inner .item:nth-child(3) {
    margin: 0 0 -1px 0;
}

.section_rec .inner .item:nth-child(5) {
    margin: 0 -1px;
}

.section_rec .inner .item a {
    width: 100%;
}

.section_rec .inner .item a .inner {
    /* background-color: blanchedalmond; */
    padding: 0 0 22px 0;
}

.section_rec .inner .item a .inner .image {
    width: 100%;
}

.section_rec .inner .item a .inner .image .badge {
    height: var(--badge-height);
    font-size: var(--badge-fontSize);
    font-weight: var(--badge-fontWeight);
    line-height: var(--badge-lineHeight);
    letter-spacing: var(--badge-letterSpacing);
    color: var(--badge-textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}

/* recommended_badge */
.section_rec .inner .item:nth-child(2) a .inner .image .badge {
    width: var(--redbadge-width);
    background-color: var(--redbadge-color);
}

.section_rec .inner .item:nth-child(3) a .inner .image .badge {
    width: var(--grnbadge-width);
    background-color: var(--grnbadge-color);
}

.section_rec .inner .item:nth-child(4) a .inner .image .badge {
    width: var(--redbadge-width);
    background-color: var(--redbadge-color);
}

.section_rec .inner .item:nth-child(5) a .inner .image .badge {
    width: var(--grnbadge-width);
    background-color: var(--grnbadge-color);
}

.section_rec .inner .item:nth-child(6) a .inner .image .badge {
    width: var(--grnbadge-width);
    background-color: var(--grnbadge-color);
}

.section_rec .inner .item a .inner .image .badge p {}

.section_rec .inner .item a .inner .image img {
    width: 100%;
    object-fit: cover;
}

.section_rec .inner .item a .inner .image img:hover {}



.section_rec .inner .item a .inner .text_wrap {
    width: 100%;
    padding: 0 30px;
    text-align: center;
}

.section_rec .inner .item a .inner .text_wrap h3 {
    font-family: 'Pretendard';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -2.5%;
    margin-bottom: 10px;
}

.section_rec .inner .item a .inner .text_wrap p {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2.5%;
    display: -webkit-box;
    /* 말줄임표 */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/* section_menu */

.section_menu {
    width: 100%;
    /* max-width: 1920px; */
    /* 피그마 디자인 기준 */
    height: 472px;
    /* 고정높이 */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #00BC77;
    margin-bottom: 200px;
}

.section_menu .menu-01 {
    width: 2817px;
    /* 원본 전체 길이 (피그마 값) */
    height: 236px;
    display: flex;
}

.section_menu .menu-01 .menu_text {
    width: 819px;
    /* 고정 */
    height: 236px;
    flex-shrink: 0;
    /* 줄어들지 않게 */
    border: 1px solid #121212;
    z-index: 9999;
    background-color: #00BC77;

}

.section_menu .menu-01 .menu_text .text_wrap {
    font-size: var(--fontSize-menu);
    line-height: var(--lineHeight-menu);
    padding: var(--padding-menu);
    /* 수직정렬? */
}

.section_menu .menu-01 .menu_text .text_wrap h2 {}

.section_menu .menu-01 .menu_text .text_wrap h2 a {}

.section_menu .menu-01 .menu_text .text_wrap h2 a p {}

.section_menu .menu-01 .item {
    width: 333px;
    /* 원본 사이즈 그대로 */
    height: 236px;
    flex-shrink: 0;
    border: 1px solid #121212;
    margin: 0 0 0 -1px;
    animation: slide1 10s linear infinite;
}

.section_menu .menu-01 .item img {
    width: 100%;
    height: 80%;
    /* 텍스트가 item 영역밖으로 벗어나므로 */
    object-fit: contain;
}

.section_menu .menu-01 .item p {
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -2.5%;
    white-space: nowrap;
    text-align: center;
}

.menu-02 {
    width: 2331px;
    /* 원본 전체 길이 (피그마 값) */
    height: 236px;
    display: flex;
    animation: slide2 4.5s linear infinite;
}

.menu-02 .item {
    width: 333px;
    /* 원본 사이즈 그대로 */
    height: 236px;
    flex-shrink: 0;
    border: 1px solid #121212;
    overflow: hidden;
    margin: -1px -1px 0 0;
}

.menu-02 .item img {
    width: 100%;
    height: 80%;
    /* 텍스트가 item 영역밖으로 벗어나므로 */
    object-fit: contain;
}

.menu-02 .item p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -2.5%;
    white-space: nowrap;
    text-align: center;
}

/* 애니메이션1  2817 - 1920 = 897px 만큼 왼쪽으로 이동 */
@keyframes slide1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-897px);
    }
}

/* 애니메이션2  2331 - 1920 = 411px 만큼 왼쪽으로 이동 */
@keyframes slide2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-411px);
    }
}

.section_store {
    display: flex;
    /* height: 480px; h값을 설정하지않고 하위값에 h:100%해야 이미지 비율이 맞게 확대축소됨*/
    margin-bottom: 200px;
}

.section_store .store_left {
    width: 42.65%;
}

.section_store .store_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #FFFFFF;
    border: 0 0 1px 0;
}

.section_store .store_right {
    width: 57.34%;
    background-color: #121212;
}

.section_store .store_right .inner {
    text-align: center;
}

.section_store .store_right .inner .text_wrap {
    font-size: var(--fontSize-rec);
    line-height: var(--lineHeight-rec);
    padding: 70px 0 0 0px;
    color: #FFFFFF;
    margin-bottom: 72px;
}

.section_store .store_right .inner .text_wrap h2 {}

.section_store .store_right .inner .text_wrap p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -2.5%;
}

.search_box {
    width: 55%;
    margin: 0 auto;
    padding: 10px 32px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    border-radius: 50px;
}

.search_box input[type="text"] {
    width: 100%;
    border: 0;
    background-color: inherit;
    font-size: 18px;
    font-weight: 400;
}

.search_box input:focus {
    outline: none;
    border: 0;
}

.search_box img a {
    width: 100%;
}

.search_box img {
    width: 100%;
}


/* section_event */

.section_event {
    width: 100%;
    background-color: var(--main-color);
    margin-bottom: 200px;
    border: solid 1px #121212;
    border-left: 0;
    border-right: 0;
}

.section_event .gird_wrap01 {
    width: 100%;
    height: 198px;
    display: flex;
    border-bottom: 1px solid #121212;
}

.section_event .gird_wrap01 .text_sec {
    width: 42.65%;
    /* 819/1920*100 */
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #121212;
}

.section_event .gird_wrap01 .text_sec .text_wrap {
    margin: 0 auto;
}

.section_event .gird_wrap01 .text_sec .text_wrap h2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 78px;
}

.section_event .gird_wrap01 .text_sec .text_wrap p {}

.section_event .gird_wrap01 .gird {}

.section_event .gird_wrap02 {
    height: 660px;
    border-bottom: 1px solid #121212;
}

.section_event .gird_wrap02 .list {
    height: 100%;
    display: flex;
}

.section_event .gird_wrap02 .list .item {
    width: 33.33%;
    height: 100%;
    border: 1px solid #121212;
    border-top: 0;

}

.section_event .gird_wrap02 .list .item .image {
    width: 100%;
    height: 332px;
}

.section_event .gird_wrap02 .list .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_event .gird_wrap02 .list .item .text {
    height: 326px;
    padding: 20px 30px 60px 30px;
    background-color: #FDFDFD;
}

.section_event .gird_wrap02 .list .item .text .inner {}

.section_event .gird_wrap02 .list .item .text .inner .text_wrap {
    margin-bottom: 50px;
}

.section_event .gird_wrap02 .list .item .text .inner .text_wrap .sort {
    font-family: 'Apercu-Condensed-Pro';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--main-color);
    margin-bottom: 14px;
}

.section_event .gird_wrap02 .list .item .text .inner .text_wrap .sort strong {}

.section_event .gird_wrap02 .list .item .text .inner .text_wrap .title_wrap {
    margin-bottom: 14px;
    -webkit-box-orient: vertical;
}

.section_event .gird_wrap02 .list .item .text .inner .text_wrap .title_wrap h2 {
    font-family: 'Pretendard';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -2.5%;
    margin-bottom: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.section_event .gird_wrap02 .list .item .text .inner .text_wrap .title_wrap p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2.5%;
    color: #555555;
    overflow: hidden;
    /* 2줄까지 말줄임표시 */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.section_event .gird_wrap02 .list .item .text .inner .date_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_event .gird_wrap02 .list .item .text .inner .date_wrap p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2.5%;
    color: #555555;
}

.section_event .gird_wrap02 .list .item .text .inner .date_wrap .button {
    width: 30%;
    height: 38px;

    background-color: #6DB33E;
    border-radius: 50px;
    color: #FDFDFD;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.section_event .gird_wrap02 .list .item .text .inner .date_wrap .button a {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
}

.section_event .gird_wrap03 {
    width: 100%;
    height: 150px;
}




/* section_insta */
.section_insta {
    margin-bottom: 200px;
}

.section_insta .inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.section_insta .inner .insta_text {
    width: 25%;
    border: 1px solid #121212;
    padding: 98px 26px;
    font-size: var(--fontSize-insta);
    line-height: var(--lineHeight-insta);
}

.section_insta .inner .insta_text .text_wrap {}

.section_insta .inner .insta_text .text_wrap h2 {}

.section_insta .inner .insta_text .text_wrap p {}

.section_insta .inner .image {
    width: 25%;
    border: 1px solid #121212;
    margin: 0 0 0 -1px;
}

.section_insta .inner .image:nth-child(5) {
    margin: -1px 0 0 0px;
}

.section_insta .inner .image:nth-child(6) {
    margin: -1px 0px 0 -1px;
}

.section_insta .inner .image:nth-child(7) {
    margin: -1px -1px 0 -1px;
}

.section_insta .inner .image:nth-child(8) {
    margin: -1px 0 0 0px;
}

.section_insta .inner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* footer */
.footer {
    width: 100%;
    background-color: var(--main-color);
}

.footer .inner {
    padding: 30px 0 50px 0;
}

.footer .inner .footer_01 {
    width: 100%;
    height: 276px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.footer .inner .footer_01 .nav_wrap {
    width: 45.55%;
    /* 656/1440*100 */
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .inner .footer_01 .nav_wrap .nav_01 {
    display: flex; /* gap을 주기위해 block태그-> dispaly:flex */
    flex-direction: column;
    gap: 12px;
}

.footer .inner .footer_01 .nav_wrap .nav_01 li {
}

.footer .inner .footer_01 .nav_wrap .nav_01 li a {}

.footer .inner .footer_01 .nav_wrap .nav_02 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .inner .footer_01 .nav_wrap .nav_02 li {}

.footer .inner .footer_01 .nav_wrap .nav_02 li a {}

.footer .inner .footer_01 .right_wrap {
    width: 23.61%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .inner .footer_01 .right_wrap .download_wrap {
    width: 100%;
}

.footer .inner .footer_01 .right_wrap .download_wrap p {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -2.5%;
    color: rgb(18, 18, 18, 0.8);
    margin-bottom: 12px;
}

.footer .inner .footer_01 .right_wrap .download_wrap .icon_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .inner .footer_01 .right_wrap .download_wrap .icon_wrap a {
    display: block;
    width: 47.05%;
}

.footer .inner .footer_01 .right_wrap .download_wrap .icon_wrap a img {
    width: 100%;
}

.footer .inner .footer_01 .right_wrap .sns {
    width: 82.94%;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.footer .inner .footer_01 .right_wrap .sns li {}
.footer .inner .footer_01 .right_wrap .sns li a {
    width: 100%;
}

.footer .inner .footer_01 .right_wrap .sns li a img {
    width: 100%;
}

/* 가상요소 선택자 밑줄 */

.footer .inner .footer_02 {}

.footer .inner .footer_02 .info_wrap {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}

.footer .inner .footer_02 .info_wrap li {}

.footer .inner .footer_02 .info_wrap li a {}

.footer .inner .footer_02 .copyright {}

.footer .inner .footer_02 .copyright p {}