@charset "usf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.section{
    width: 1920px;
    height: 1078px;
    background-color: white;
    margin: 160px 240px;
    
}
.section h2{
    margin: 18px 16px;
}
.section .list{
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.section .list .item{
    width: 321px;
    position: relative;
    overflow: hidden;
    
}
.section .list .item img{
    width: 100%;
    height: 321px;
    border-radius: 14px;
   

    
}
.section .list .item p{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-weight: 24px;
    color: white;
    background: #161717;
background: linear-gradient(180deg, rgba(22, 23, 23, 1) 0%, rgb(245, 244, 244) 100%);
     padding: 20px;
    
}