@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
text-align: center; /* .text-03을 가운데정렬하기위해 부모body에 적용 */
}

.text-01{
    font-size: 40px;
    text-align: center;
}
.text-01::before{ /* 클래스명 뒤에 공백없이 ::두개 */
    content:'🌹'; /* 콘텐츠 뒤에 쌍따옴표or홑따옴표, 이모지:윈도우+.  */
}
.text-01::after{
    content:'💕뒤에 추가';
}
.text-02{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
    background-color: antiquewhite;
    position: relative; /* 기준설정 */
}
.text-02::before{ /* before와 after는 인라인태그로 취급되기때문에  */
    content:''; /* 문자를 쓰지않기때문에 따옴표 사이를 비워둔다 */
    width: 5px;
    height: 50px;
    background-color: red;
    display: block;
    position: absolute;
    left: 50%; /* 빨간막대 너비가 5px일떄 중간이지만 두께가 두꺼워지면 중앙이 아니게 됨 */
    bottom: -80%;
    transform: translate(-50%) /* 정중앙 배치 */
}

.text-03{
    font-size: 50px;
    text-align: center; /* display: inline-block와 함께써서 가운데 정렬x */
    font-weight: bold;
    margin: 100px 0;
    position: relative; /* 기준설정 */
    display: inline-block;/* 텍스트가 차지하는 너비만큼 영역 지정 */
}
.text-03::after{
    content:'';
    width: 100%; /* 텍스트가 차지하는 전체 너비 */
    height: 20px;
    background-color: yellow;
    display: block;
    position: absolute;
    left: 50%; /* 부모 position기준에서 이동 */
    bottom: 0;
    transform: translate(-50%); /* 본인 position기준에서 이동 (left와 기준점이 다름) */
    z-index: -1; /*  요소의 쌓임 순서. 값이 높을수록 더 위에 위치 */
    padding: 0 20px;
}



.item{
    width: 400px;
    margin: 0 auto;
    position: relative; /*  a태그의 부모태그라서 포지션 기준점이 됨  */
    overflow: hidden;
}
.item::after{ /* 이미지 위에 배경깔기(호버:밑에서 위로 올라오는 효과)*/
    content:'';
    width:100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.466);
    position: absolute;
    top:100%;
    left:0;
}

.item .image_box{
    height: 400px;
}
.item .image_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: beige;
}
.item a{
    width: 200px;
    height: 50px;
    border: 1px solid #333;
    background-color: aquamarine;
    display: block;
    line-height: 50px;
    /* 이미지위에 배치 x축y축 */
    position: absolute; /* position: relative는 a의 부모태그인 .item에 준다. (image_box(X) */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* 요소의 쌓임 순서. 값이 높을수록 더 위에 위치 */
    opacity: 0; /* 바로가기버튼 안보이게 설정 */
}

/* item에게 마우스 올렸을 떄 가상요소 선택자의 top값 */
.item:hover::after {
    top: 0;
    transition: all 0.7s;
    overflow: hidden;
}

.item:hover a{
    opacity: 1;
}

.button{
    width: 200px;
    height: 50px;
    border: 1px solid #333;
    text-align: center;
    line-height: 50px;
    display: block;
    margin:50px auto;
    position: relative;
    overflow:hidden;
}

.button::before{
    content:'';
    width:100%;
    height: 100%;
    background-color: red;
    position: absolute;
    top:0;
    left: -100%;
    z-index: -1;
}

.button:hover::before{
    left: 0;
    transition: all 0.7s;
}