@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.box div{
    width: 500px;
    height: 50px;
    border: 1px solid #333;
    line-height: 50px;
    text-align: center;
    margin: 30px;
}

.box div:first-child:hover {
    width: 700px;
    background-color: yellow;
    transition: all 0.7s; /* all: 변화시키고자하는 속성(width와 background-color를 말함 */
}
.box div:nth-child(2):hover {
    height: 500px;
    background-color: greenyellow;
    transition: background-color 2s; /* background-color만 2초후 적용. height는 즉시 적용. */
}

.box div:nth-child(3):hover {
    height: 500px;
    background-color: blue;
    transition: all 1s 2s; /* 1초동안(실행시간). 2초뒤에(지연시간) 적용됨 */

}

.box div:nth-child(4):hover{
    height: 200px;
    background-color: aquamarine;
    transition: height 2s linear; /* height만 2초동안,
    linear: 일정 속도 유지 (적용안한 기본값은 느리게 시작해서 빨라졌다가 끝에 다시 느려짐)
    ease-in: 점점 빨라짐
    ease-out: 점점 느려짐
    ease-in-out: 처음과 끝이 느림 */
}

.box div:last-child:hover{
    width: 700px;
    height: 300px;
    background-color: pink;
    transition: width 1s,      /* 쉼표가 중요, 가독성 때문에 줄바꿈함. width가 적용된 후에 heigh적용 */
                height 1s 1s;  /* 1초동안(실행시간) 1초후에(지연시간) */
}