@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
}

.section {
    width: 1920px;
    background-color: rgb(255, 255, 178);
    padding: 160px 0;
}

.section .inner {
    max-width: 1280px;
    width: calc(100% - 40px);
    /* 태블릿 좌우마진20*2=40 */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section .inner .item {
    /* 299 / 1280 * 100 => 23.35% */
    width: 23.35%;

}

.section .inner .item img {
    width: 100%;
    height: 299px;
    /* 피그마에서 설정한 h */
    object-fit: cover;
}

.section .inner .item .text {
    margin-top: 20px;
}

.section .inner .item .text strong {
    font-size: 32px;
}

.section .inner .item .text p {
    font-size: 20px;
    margin-top: 12px;
    line-height: 1.3;
}

/* 미디어쿼리- 화면크기가 1024px이하일때 */
@media screen and (max-width: 1024px) {

    .section .inner {
        flex-wrap: wrap;
    }

    .section .inner .item {
        width: 48.61%;
        /* (386 / 794 * 100 => 48.61% */
        row-gap: 22px;
    }
}

/* 1024px */


/* 미디어쿼리- 화면크기가 640px이하일때 */
/* 텍스트 크기와 아이템크기, 이미지 크기
화면 좌우 마진값 변경 */
@media screen and (max-width: 640px) {

    .section .inner {
        max-width: 343px;
        width: calc(100% - 32px);
        /* 모바일 좌우마진16*2=32 */

        .section .inner {
            flex-wrap: wrap;
        }

        .section .inner .item {
            width: 47.52%;
            /* (163 / 343 * 100 => 47.52% */
            row-gap: 17px;
        }

        .section .inner .item img {
            width: 100%;
            height: 163px;
            object-fit: cover;
        }

        .section .inner .item .text {
            margin-top: 14px;
        }

        .section .inner .item .text strong {
            font-size: 16px;
        }

        .section .inner .item .text p {
            font-size: 12px;
            margin-top: 6px;
            line-height: 1.3;
        }
    }
}