@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.ball {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 132, 255);
    animation-name: animationBall;
    /* 애니메이션 이름은 임의로 설정가능. 대소문자 상관X */

    animation-iteration-count: infinite;
    /* 애니메이션 횟수 */
    /* infinite(반복) or 숫자 */

    animation-timing-function: linear;
    /* 애니메이션 움직임. linear : 일정속도 유지 */
    

    animation-duration: 3s;
    /* 애니메이션 시간 */

    animation-direction: alternate-reverse;
    /* 애니메이션 방향 : 
    alternate : 정방향에서 번갈아가며 움직임 (0%->100% 다시 100%->0%)
    reverse : 반대방향에서 시작
    alternate-reverse : 반대방향에서 반갈아가며 움직임 */
}

/* @keyframes 애니메이션이름 {실행문} */
@keyframes animationBall {
    0% {
        width: 150px;
    }
    50%{
        transform: translate(50px, 100px);
        height: 200px;
        border-radius: 50%;
    }
    100% {
        width: 300px;
        background-color: rgb(255, 253, 113);
        transform: translateX(150px);
    }
}
.text {
    background-color: #48daff;
    color:aliceblue;
    font-size: 40px;
    margin-top: 300px;
    overflow: hidden; /* 가로 스크롤바 사라짐 */
}
.text ul{
    display: flex;
    gap: 40px;
    animation: textSlide 10s infinite alternate linear;
}
.text ul li {
    white-space: nowrap;
}
@keyframes textSlide {
0%{
transform: translateX(0%);
}
100%{
transform: translateX(-100%);
}
}


