@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.apple {
    width: 1920px;
}

.header {
    width: 1920px;
    padding: 20px 50px 71px 50px;
    background-color: #d9d9d9, 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    /* 영역을 양쪽 끝에 붙이고 사이간격을 동일하게 지정 */


}

.header .logo {
    margin-right: 72px;

}

.header .left {
    display: flex;
    /* 헤더 3영역중에 로고와 gnb사이가 더 가까우므로 두개 그룹지정해주기 
    justify-content쓰면 flex써줘야함 */
}

.header .gnb {
    /*   width: 741px; 쓰지말것*/
    display: flex;
    /*     margin-right: 850.75px; 쓰지말것 */
    align-items: center;
    font-size: 16px;
    color: white;

}

.header .gnb li {
    display: flex;
    margin-right: 32px;

}

.header .util {
    display: flex;
    align-items: center;
    /*     width: 106.25px; 쓰지말것 */

}

.header .util li {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.main_visual {
    width: 1920px;
    height: 960px;


}

.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;

}

.main .section {
    height: 3011px;
    margin: 0 50px;
    padding-top: 110px;
    /*     background-color: antiquewhite; */
    justify-content: space-between;
    /* 섹션마다 간격180되는지 확인하기 */
}

.main .section .section-01 .title {
    margin-bottom: 46px;
}

.main .section .section-01 .title h3 {
    font-size: 28px;
    font-weight: 600;
    color: #767676;
}

.main .section .section-01 .list {
    width: 1662px;
    height: 565px;
    display: flex;
    margin: 0 auto 180px auto;
    gap: 20px;


}

.main .section .section-01 .list .item {
    position: relative;
    /* text의 부모인 item에 relative를 써준다 */
}

.main .section .section-01 .list .item img {
    width: 400px;
    height: 564px;
    object-fit: cover;
    border-radius: 38px;
    /*  position: relative; img와 text는 부모가 아닌 형제관계이므로 relative가 될수x*/
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.3));

}

.main .section .section-01 .list .item .text {
    position: absolute;
    top: 40px;
    left: 24px;

}

.main .section .section-01 .list .item .text h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -2.5%;
    color: white;
    margin-bottom: 16px;

}

.main .section .section-01 .list .item .text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -2%;
    color: #d9d9d9;
}

.main .section .section-02 {
    margin-bottom: 180px;
}

.main .section .section-02 .title {
    margin-bottom: 46px;
}

.main .section .section-02 .title h3 {
    font-size: 28px;
    font-weight: 600;
    color: #767676;
}

.main .section .section-02 .list {
    display: flex;
    width: 1689px;
    height: 492px;
    /* margin: 0 auto; */

    /*     position: relative; */
}

.main .section .section-02 .list .list-left {
    width: 800px;
    height: 492px;
    /*     background-color: chocolate; */
}

.main .section .section-02 .list .list-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .section .section-02 .list .list-right {
    display: flex;
    align-items: center;
    width: 889px;
    position: relative;

}

.main .section .section-02 .list .list-right .swiper-slide img {
    width: 100%;
    height: 282px;
    object-fit: cover;
}


.main .section .section-02 .list.list-right .swiper-button-next,
.main .section .section-02 .list.list-right .swiper-rtl .swiper-button-prev {
    background: url('../img/apple/icon/next01.png') center center / 100% no-repeat;
    /* 위치,위치,크기,반복 */
    right: -50px;
    /* 슬라이드 밖으로 아이콘 이동 */
}

.main .section .section-02 .list.list-right .swiper-button-prev,
.main .section .section-02 .list.list-right .swiper-rtl .swiper-button-next {
    background: url('../img/apple/icon/pre01.png') center center / 100% no-repeat;
    left: -50px;
}

.main .section .section-02 .list.list-right .swiper-button-next:after,
.main .section .section-02 .list.list-right .swiper-button-prev:after {
    display: none;
    /* 원래있던 화살표 슬라이드 아이콘 보이지않게 설정 */
}

.main .section .section-02 .list.list-right .swiper {
    position: static;
    /* 포지션 초기화(기본값)하기, 
    부모에 포지션:relative 주기 */
}

.main .section .section-03 {
    margin-bottom: 180px;
}

.main .section .section-03 .title {
    margin-bottom: 46px;
}

.main .section .section-03 .title h3 {
    font-size: 28px;
    font-weight: 600;
    color: #767676;
}

.main .section .section-03 .list {
    display: flex;
    width: 1768px;
    height: 282px;
}

.main .section .section-04 .title { /* 로고 아이콘과 텍스트 수평 정렬하는법? */
    display: flex;
    align-content: center;
}

.main .section .section-04 .title img {
    height: 30px;
    filter: invert(51%) sepia(6%) saturate(0%) hue-rotate(188deg) brightness(88%) contrast(91%);
}

.main .section .section-04 .title h3 {
    font-size: 28px;
    font-weight: 600;
    color: #767676;
}

.main .section .section-04 .sec01-swiper {
    width: 1914px;
    height: 665px;
}

.main .section .section-04 .swiper-wrapper {
    width: 100%;
    height: 100%;
    transform: scale(0.95);
    opacity: 0.5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    position: relative;
}

.main .section .section-04 .swiper-slide {
    width: 60%;
    height: 665px;
    transform: scale(0.95);
    opacity: 1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.textline-all {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
}
.textline-all { display:flex;transform:translateX(0);animation:marquee 12s linear infinite}
@keyframes marquee{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-1022.5px);
    }
}

.textline-all .textline {
    display: flex;
    align-items: center;
    gap: 60px
}

.textline-all .textline img {
    height: 18px;
    filter: invert(51%) sepia(6%) saturate(0%) hue-rotate(188deg) brightness(88%) contrast(91%);
}

.textline-all .textline p {
    font-size: 16px;
    font-weight: 400px;
    /* 레귤러 */
    line-height: 24px;
    letter-spacing: -2%;
    color: #767676;
}

.footer {
    width: 100%;
    height: 670px;
    background-color: #f5f5f5;
}

.footer .inner {
    height: 100%;
    background-color: #F5F5F5;
}

.footer .inner .footer-01 {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

.footer .inner .footer-01 .list {}

.footer .inner .footer-01 .list .item {
    margin-bottom: 16px;
}

.footer .inner .footer-01 .list .item h3 {
    font-size: 14px;
    font-weight: 500px;
    /* 미듐 */
    line-height: 24px;
    letter-spacing: -2%;
    color: #1b1b1b;
    margin-bottom: 2px;
}

.footer .inner .footer-01 .list .item li {
    font-size: 14px;
    font-weight: 400px;
    /* 레귤러 */
    line-height: 24px;
    letter-spacing: -2%;
    color: #767676;
    margin-bottom: 2px;
}

.footer .inner .footer-02 {
    width: 1280px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500px;
    line-height: 24px;
    letter-spacing: -2%;
    color: #1b1b1b;
}

.footer .inner .footer-02>p {
    padding: 0 0 32px 0;
    border-bottom: 1.58px solid #bbbbbb;
}

.footer .inner .footer-02 a {
    text-decoration: underline;
    color: #1D5DFF;
}

.footer .inner .footer-02 .list p {
    font-size: 14px;
    font-weight: 500px;
    line-height: 24px;
    letter-spacing: -2%;
    color: #1b1b1b;
}

.footer .inner .footer-02 .list {
    display: flex;
    margin: 32px 0 24px 0;
    gap: 30px;
}

.footer .inner .footer-02 .list p {
    font-size: 14px;
    font-weight: 500px;
    line-height: 24px;
    letter-spacing: -2%;
    color: #1b1b1b;
}

.footer .inner .footer-02 .list .item {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -2%;
    color: #1b1b1b;
}

.footer .inner .footer-02 .list .item li {
    font-weight: 600px;
}

.footer .inner .footer-02 .list .item .text {
    font-size: 14px;
    font-weight: 500px;
    line-height: 24px;
    letter-spacing: -2%;
    color: #767676;
    margin-bottom: 46.29px;
}