@charset "utf-8";

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.header {
    height: 100px;
    border-bottom: 1px solid #333;
}

.header .inner {
    max-width: 1280px;
    width: calc(100% - 30px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; /* height값이 있어야 적용됨 */
    position: relative;
}

.header .inner .nav .gnb {
    display: flex;
    gap: 100px;
}

.header .inner .search_wrap button {
    width: 80px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(255, 248, 154);
}

.header .inner .search_wrap .close_btn { 
    /* 버튼2개중 close버튼만 숨김 */
    display: none;
}

.header .inner .search_box {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgb(255, 248, 154);
    padding: 20px;
    display: none;
}

.header .inner .search_box input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    /* 검색어를 입력해주세요 문구에 패딩적용됨 */
}

